#users {
  padding: 10px;
}
#users > div {
  display: flex;
  gap: 10px;
  margin: 5px;
}

.actions > input {
  margin-right: 5px;
}

.editBtn {
  color: red;
}

#form form {
  display: flex;
  flex-direction: column;
  width: 250px;
}

#form form label{
  font-size: 13px;
}
#form form input{
  margin-bottom: 5px;
}

#error-form {
  color: red;
  font-size: 12px;
}

#userInfo {
  display: flex;
  flex-direction: column;
  width: 250px;
}

#userInfo span {
  margin-bottom: 5px;;
}
