#main {
  display: flex;
  gap: 5px;
}

#main > div {
  flex-basis: 33%;
  border: 1px solid black;
  min-height: 100px;
}

#right {
  display: flex;
  flex-direction: column;
}

#buy-btn {
  width: fit-content;
  margin-top: 10px;
}

#order {
  text-align: center;
  padding-top: 50px;
  font-size: 18px;
}

#form-container > form {
  display: flex;
  flex-direction: column;
  width: 200px;
}

#form-container > button {
  height: 50px;
}

#error-form {
  color: red;
  font-size: 16px;
}

.delivery-information {
  display: flex;
  justify-content: center;
}

.delivery-form {
  margin-right: 10px;
}
